
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Receptionists/Views/_Shared/_Layout.cshtml";
}
@using Hotel_Web.Areas.Receptionists.Models;
@model List<Guest>

<link rel="stylesheet" type="text/css" href="~/receptionists/lib/DataTables/datatables.min.css" />
<link rel="stylesheet" href="~/receptionists/css/guests.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="~/receptionists/lib/DataTables/datatables.min.js"></script>

<style>

    .pagination .active a {
        z-index: 1;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

    .page-btn a {
        padding: 0.25rem 0.75rem;
    }

    .table-infor {
        font-size: 15px;
        height: 100%;
        line-height: 34px;
    }
</style>

<div class="container-fluid guest-container">
    <div class="row top-container">
        <h4>Danh sách khách hàng</h4>
    </div>
    <div class="row body-container">
        <table id="all-guests-table" class="table table-sm dataTable">
            <thead class="thead-light">
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="all-guests-table" aria-sort="ascending" style="width: 50px; ">ID</th>
                    <th class="sorting" aria-controls="all-guests-table" style="width: 250px;">Full Name</th>
                    <th class="sorting" aria-controls="all-guests-table" style="width: 50px;">Gender</th>
                    <th class="sorting" aria-controls="all-guests-table" style="width: 50px;">Address</th>
                    <th class="sorting" aria-controls="all-guests-table" style="width: 200px;">Email</th>
                    <th class="sorting" aria-controls="all-guests-table" style="width: 200px;">Phone</th>
                    <th class="sorting" aria-controls="all-guests-table" style="width: 200px;">ID Card</th>
                    <th class="sorting" aria-controls="all-guests-table" style="width: 50px;">Country</th>
                    <th class="sorting" aria-controls="all-guests-table" style="width: 100px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var g in Model)
                    {
                        <tr role="row">
                            <td> @g.GuestID </td>
                            <td> @g.FullName </td>
                            <td> @g.Gender </td>
                            <td> @g.Address </td>
                            <td> @g.Email </td>
                            <td> @g.Phone </td>
                            <td> @g.IDCardNumber</td>
                            <td> @g.Country </td>
                            <td><a class="edit-guest" onclick="OpenEditGuest(event)" data-guestid="@g.GuestID" data-fullname="@g.FullName" data-gender="@g.Gender" data-address="@g.Address" data-email="@g.Email" data-phone="@g.Phone" data-idcardnumber="@g.IDCardNumber" data-country="@g.Country"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div id="editGuestModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Edit Guest</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="guest-id">Guest ID</label>
                        <input type="text" class="form-control" id="guest-id" disabled>
                    </div>
                    <div class="form-group">
                        <label for="guest-name">Full Name</label>
                        <input type="text" class="form-control" id="guest-name" required>
                    </div>
                    <div class="form-group">
                        <label for="guest-gender">Gender</label>
                        <select class="form-control" id="guest-gender">
                            <option disabled selected value="">--Select Gender--</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="guest-address">Address</label>
                        <input type="text" class="form-control" id="guest-address" required>
                    </div>
                    <div class="form-group">
                        <label for="guest-email">Email</label>
                        <input type="text" class="form-control" id="guest-email" required>
                    </div>
                    <div class="form-group">
                        <label for="guest-phone">Phone</label>
                        <input type="text" class="form-control" id="guest-phone" required>
                    </div>
                    <div class="form-group">
                        <label for="guest-idcardnumber">ID Card Number</label>
                        <input type="text" class="form-control" id="guest-idcardnumber" required>
                    </div>
                    <div class="form-group">
                        <label for="guest-country">Country</label>
                        <input type="text" class="form-control" id="guest-country" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success submit-edit-guest">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function OpenEditGuest(event) {
        debugger;
        var guestid = event.currentTarget.getAttribute("data-guestid");
        var guestname = event.currentTarget.getAttribute("data-fullname");
        var guestgender = event.currentTarget.getAttribute("data-gender");
        var guestaddress = event.currentTarget.getAttribute("data-address");
        var guestemail = event.currentTarget.getAttribute("data-email");
        var guestphone = event.currentTarget.getAttribute("data-phone");
        var guestidcard = event.currentTarget.getAttribute("data-idcardnumber");
        var guestcountry = event.currentTarget.getAttribute("data-country");

        $("#editGuestModal").modal('show');

        $("#guest-id").val(guestid);
        $("#guest-name").val(guestname);
        $("#guest-gender").val(guestgender);
        $("#guest-address").val(guestaddress);
        $("#guest-email").val(guestemail);
        $("#guest-phone").val(guestphone);
        $("#guest-idcardnumber").val(guestidcard);
        $("#guest-country").val(guestcountry);

    }
</script>

<script>
    $(document).ready(function () {
        $.fn.dataTable.ext.classes.sPageButton = 'page-btn';
        $.fn.dataTable.ext.classes.sInfo = 'table-infor';

        $('#all-guests-table').DataTable({
            lengthMenu: [10, 25, 50, 100],
            pageLength: 25,
        });

        $(".submit-edit-guest").click(function () {
            debugger;
            var id = $("#guest-id").val();
            var fullname = $("#guest-name").val();
            var gender = $("#guest-gender").val();
            var address = $("#guest-address").val();
            var email = $("#guest-email").val();
            var phone = $("#guest-phone").val();
            var idcardnumber = $("#guest-idcardnumber").val();
            var country = $("#guest-country").val();
            $.ajax({
                url: "https://localhost:44329/Receptionists/Guests/UpdateGuest",
                data: { GuestID: id, FullName: fullname, Gender: gender, Address: address, Email: email, Phone: phone, IDCardNumber: idcardnumber ,Country:country },
                type: "POST",
                dataType: "json",
                success: function (response) {
                    debugger;
                    if (response != null && response != "") {
                        location.reload();
                        $('#editGuestModal').modal('hide');
                        alert("Sửa thành công !")
                    }
                }
            });
        });
    });
</script>