
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Receptionists/Views/_Shared/_Layout.cshtml";
}
@using Hotel_Web.Areas.Receptionists.Models;
@using Hotel_Web;
@model  List<BookingModel>

<link rel="stylesheet" type="text/css" href="~/receptionists/lib/DataTables/datatables.min.css" />
<link rel="stylesheet" href="~/receptionists/css/bookings.css">

<script type="text/javascript" src="~/receptionists/lib/DataTables/datatables.min.js"></script>

<style>

    .pagination .active a{
        z-index: 1;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
    .page-btn a{
        padding: 0.25rem 0.75rem;
    }

    .table-infor {
        font-size: 15px;
        height: 100%;
        line-height: 34px;
    }
</style>


<div class="container-fluid booking-container">
    <div class="row top-container">
        <div class="col-lg-2">
            <div class="row">From &nbsp; <input class="form-control" type="date" /></div>
        </div>
        <div class="col-lg-2">
            <div class="row">To &nbsp; <input class="form-control" type="date" /></div>
        </div>
        <div class="col-lg">
            <div class="row">
                <div class="check-group">
                    <input class="check-item form-control" type="checkbox" name="roomstyle" value="1" checked="">
                    <div class="item-left"> Standard </div>
                    <div class="item-right">24</div>
                </div>
                <div class="check-group">
                    <input class="check-item form-control" type="checkbox" name="roomstyle" value="1" checked="">
                    <div class="item-left"> Standard </div>
                    <div class="item-right">24</div>
                </div>
                <div class="check-group">
                    <input class="check-item" type="checkbox" name="roomstyle" value="1" checked="">
                    <div class="item-left"> Standard </div>
                    <div class="item-right">24</div>
                </div>
                <div class="check-group">
                    <input class="check-item" type="checkbox" name="roomstyle" value="1" checked="">
                    <div class="item-left"> Standard </div>
                    <div class="item-right">24</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row body-container">
        <table id="all-bookings-table" class="table table-sm dataTable">
            <thead class="thead-light">
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="checkin-bookings-table" aria-sort="ascending" style="width: 50px; ">ID</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 250px;">Guest Name</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 100px;">ID Card</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 50px;">Room</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 120px;">Room Style</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 120px;">Room Size</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 50px;">Price</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 100px;">Check-in</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 100px;">Check-out</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 100px;">Status</th>
                    <th class="sorting" aria-controls="all-bookings-table" style="width: 100px;">Actions</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var bk in Model)
                    {
                                <tr role="row">
                                    <td> @bk.BookingID </td>
                                    <td> <a href="/Receptionists/Guests/Detail?id=@bk.Guest.GuestID"> @bk.Guest.FullName </a> </td>
                                    <td> @bk.Guest.IDCardNumber </td>
                                    <td> <a href="/Receptionists/Rooms/Detail?id=@bk.Room.RoomID"> @bk.Room.RoomID </a> </td>
                                    <td> @bk.Room.RoomType.RoomStyle.RoomStyleName </td>
                                    <td> @bk.Room.RoomType.RoomSize.RoomSizeName </td>
                                    <td> @(Utlities.IntToCurrencyString(bk.Amount,",")) $</td>
                                    <td> @bk.CheckInDate.ToString("MM/dd/yyyy") </td>
                                    <td> @bk.CheckOutDate.ToString("MM/dd/yyyy")</td>
                                    <td> @bk.Status</td>
                                    @if (bk.Status == "Confirmed")
                                    {
                                        <td><a href="/Receptionists/Activities/Checkin?id=@bk.BookingID&isEdit=true"><img src="~/receptionists/img/checkin_icon.png" height="20" /></a></td>

                                    }
                                    else
                                    if (bk.Status == "Checked-In")
                                    {
                                        <td><a href="/Receptionists/Activities/Checkout?id=@bk.BookingID&isEdit=true"><img src="~/receptionists/img/checkout_icon.png" height="20" /></a></td>
                                    }
                                    else
                                    if (bk.Status == "Checked-Out")
                                    {
                                        <td>...</td>
                                    }
                                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#tab-bookings").addClass("select");

        $.fn.dataTable.ext.classes.sPageButton = 'page-btn';
        $.fn.dataTable.ext.classes.sInfo = 'table-infor';

        $('#all-bookings-table').DataTable({
            lengthMenu: [10, 25, 50, 100],
            pageLength: 25,
        });
    });
</script>

