@using Microsoft.AspNetCore.Http;
@using System.Collections;
@using Hotel_Web.Areas.Receptionists.Models.Rooms

@{
    Layout = "~/Areas/Receptionists/Views/_Shared/_Layout.cshtml";
    var SelectedStyles = ViewBag.SelectedStyles as ArrayList;
    var SelectedSizes = ViewBag.SelectedSizes as ArrayList;
}

@model RoomsViewModel


<link rel="stylesheet" href="~/receptionists/css/rooms.css">

<div>
    <div class="top-container">
        <div class="row">
            <div class="col-8">
                <img class="datetime-icon" height="22" width="22" src="~/receptionists/img/datetime_icon.png" />
                <div class="datetime-text" id="datetime"> </div>
            </div>
            <div class="col-4">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search by room or guest's phone or guest's IDcard">
                </div>
            </div>
        </div>
    </div>
    <form class="panel-container" action="/Receptionists/Rooms/Filter" method="post">
        <div class="control-group">
            <div class="group-title">ROOM STASTUS</div>
            <div class="group-item empty-bg">
                <div class="item-left"> Empty </div>
                <div class="item-right">@Model.EmptyCount</div>
            </div>
            <div class="group-item reserved-bg">
                <div class="item-left"> Reserved </div>
                <div class="item-right">@Model.ReservedCount</div>
            </div>
            <div class="group-item occupied-bg">
                <div class="item-left"> Occupied </div>
                <div class="item-right">@Model.OccupiedCount</div>
            </div>
            <div class="group-item stayover-bg">
                <div class="item-left"> Stayover </div>
                <div class="item-right">@Model.StayoverCount</div>
            </div>
        </div>
        <div class="control-group">
            <div class="group-title">ROOM STYLES</div>
            @{
                foreach (var style in Model.RoomStyles)
                {
                    <div class="group-item">
                        <input class="item-checkbox" type="checkbox" name="roomstyle" value="@style.RoomStyle.RoomStyleID" @((SelectedStyles.Contains(style.RoomStyle.RoomStyleID)) ? ("checked"):("")) />
                        <div class="item-left"> @style.RoomStyle.RoomStyleName </div>
                        <div class="item-right">@style.Count</div>
                    </div>
                }
            }
        </div>
        <div class="control-group">
            <div class="group-title">ROOM SIZES</div>
            @{
                foreach (var size in Model.RoomSizes)
                {
                    <div class="group-item">
                        <input class="item-checkbox" type="checkbox" name="roomsize-@size.RoomSize.RoomSizeID" @((SelectedSizes.Contains(size.RoomSize.RoomSizeID)) ? ("checked"):(""))/>
                        <div class="item-left"> @size.RoomSize.RoomSizeName </div>
                        <div class="item-right">@size.Count</div>
                    </div>
                }
            }
        </div>
        <button type="submit" class="refine-btn">REFINE</button>
    </form>
    <div class="rooms-container">
        <div class="floor-container container-fluid">
            <div class="row floor-name"> Floor 1 </div>
            <div class="row">
                <div class="room-container col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="room-wrapper container-fluid">
                        <div class="room-type empty-bg row">
                            <span class="ml-0"> Standard </span>
                            <span class="ml-auto"> Single </span>
                        </div>
                        <div class="room-number row empty-bg justify-content-center">101</div>
                        <div class="room-status row">
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="options-btn ml-auto" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/menu_vertical_icon.png" />
                            <div class="options-hidden-container">
                                <div class="options-hidden-wrapper">
                                    <div class="row menu-item">Detail</div>
                                    <div class="line"></div>
                                    <div class="row menu-item">Check-in</div>
                                    <div class="row menu-item">Check-out</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="room-container col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="room-wrapper container-fluid">
                        <div class="room-type reserved-bg row">
                            <span class="ml-0"> Standard </span>
                            <span class="ml-auto"> Single </span>
                        </div>
                        <div class="room-number row reserved-bg justify-content-center">101</div>
                        <div class="room-status row">
                            <img class="remaining-time remaining-time-icon" data-toggle="tooltip" title="remaining time" style="margin: 2px;" width="18" height="18" src="~/receptionists/img/time_icon.png" />
                            <span class="remaining-time remaining-time-value" style="margin-right:20px"> 2d </span>
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="options-btn ml-auto" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/menu_vertical_icon.png" />
                            <div class="options-hidden-container">
                                <div class="options-hidden-wrapper">
                                    <div class="row menu-item">Detail</div>
                                    <div class="line"></div>
                                    <div class="row menu-item">Check-in</div>
                                    <div class="row menu-item">Check-out</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="room-container col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="room-wrapper container-fluid">
                        <div class="room-type occupied-bg row">
                            <span class="ml-0"> Standard </span>
                            <span class="ml-auto"> Single </span>
                        </div>
                        <div class="room-number row occupied-bg justify-content-center">101</div>
                        <div class="room-status row">
                            <img class="remaining-time remaining-time-icon" style="margin: 2px;" width="18" height="18" src="~/receptionists/img/time_icon.png" />
                            <span class="remaining-time remaining-time-value" style="margin-right:20px"> 2d </span>
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_active_icon.png" />
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="options-btn ml-auto" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/menu_vertical_icon.png" />
                        </div>
                    </div>
                </div>
                <div class="room-container col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="room-wrapper container-fluid">
                        <div class="room-type stayover-bg row">
                            <span class="ml-0"> Standard </span>
                            <span class="ml-auto"> Single </span>
                        </div>
                        <div class="room-number row stayover-bg justify-content-center">101</div>
                        <div class="room-status row">
                            <img class="remaining-time remaining-time-icon" style="margin: 2px;" width="18" height="18" src="~/receptionists/img/time_icon.png" />
                            <span class="remaining-time remaining-time-value" style="margin-right:20px"> 2d </span>
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_active_icon.png" />
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="non-guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="guest" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/guest_nonactive_icon.png" />
                            <img class="options-btn ml-auto" style="margin-top: 3px;" width="16" height="16" src="~/receptionists/img/menu_vertical_icon.png" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/receptionists/js/rooms.js"></script>

